.container{
    height: 100vh;
    background-color: #87AEB4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 125px 125px 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calculator{
    grid-row: 2/7;
    grid-column: 1/-1;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rating_holder {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -50px;
    align-self: start;
}
.rating{
    grid-row: 1/-1;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}
.fieldlabel {
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
    font-weight: 900;
    grid-row: 2/3;
    margin-right: 40px;
    margin-top: -20px;
}
.inputs {
    grid-row: 1/2;
    height: 50px;
    width: 90px;
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 29px;
    text-align: center;
    margin-right: 40px;
}
.sub{
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 17px;
    grid-column: 1/-1;
    text-align: center;
}
.banner{
    grid-row: 1/2;
    grid-column: 1/-1;
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 34px;
    text-align: center;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
/* #complete{
    grid-row: 1/2;
}
#attempt{
    grid-row: 2/3;
}
#touchdown{
    grid-row: 3/4;
}
#yards{
    grid-row: 4/5;
}
#int{
    grid-row: 5/6;
} */
#reset_button {

    grid-row: 1/2;
    grid-column: 7/8;
    width: 88px;
    height: 41px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: cadetblue;

}
.qb_holder {
        grid-column: 4/7;
        grid-row: 2/6;
        z-index: 8;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .qb_img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        height: 100%;
        width: auto;
    }

#qb_white{
    grid-column: 1/-1;
    grid-row: 1/-1;
    height:  0%;
    width: 100%;
    background-color: white;
    z-index: 9;
}
.names{
    grid-column: 1/-1;
    grid-row: 3/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 210px;
    margin-top: 30px;
}
.average{
    grid-row: 1/-1;
    grid-column: 1/2;
    height: 1px;
    widows: 100%;
    background-color: black;
    align-self: center;
}
.avg_text{
    grid-row: 1/-1;
    text-align: center;
    align-self: center;
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 14px;

}
.qb_name{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.qb_rating{
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.name_list {
    grid-column: 1/-1;
    width: 710px;
    align-self: center;
    justify-self: center;
    margin-left: -70px;
}

.qb_text_holder{
text-align: left;
font-family: 'Quicksand',Arial, Helvetica, sans-serif;
margin-bottom: 0;
font-size: 14px;
width: 140px;
text-align: right;
}
.select{
    background-color: coral;
}
.qb_rating_holder{
text-align: left;
font-family: 'Quicksand',Arial, Helvetica, sans-serif;
margin-left: 20px;
font-size: 14px;

}
.qb_rows{
    height: 8px;
    padding: 0;

}

/* F2BE54
F0D9CF
87AEB4
153E5C
ED5560 */